
        .parent p{
            font-family: fantasy;
            letter-spacing: 3px;
            text-decoration-line: underline;
        }
       p:hover{
        color: aqua;
        background-color: blueviolet;
       }
      .border{
            border :2px solid red;
            border-radius: 10px;
            padding-left: 10px;
            padding-right: 10px;
            border-style: dotted;
      } 
      .margin{
        border :3px solid blue;
        margin-top: 50px;
        padding: 10px 50px 5px 30px;
      }
      .position
      {
        border :5px solid greenyellow;
        height: 80vh;
      }
      .relative{
        position:absolute;
        top: 60px;
        left:80px;
      }
      .page{
        border :5px solid greenyellow;
        height: 100vh;
      }
      
      .fixed{
       
        position:fixed;
        left:150px;
      }
      .sticky{
        position:sticky;
        top: 10px;
        left:120px;
      }
      .inline{
        display: block;
      }
      .flex-container{
        display:flex;
        background-color: antiquewhite;
        padding:2px;
        justify-content: space-evenly;
        border: 2px solid black;
        padding: 15px;
      }
      .items{
        background-color: blue;
        border:2px solid: black;
        
        height: 100px;
        width:100px;
      }
      .flex-container
      div
      {
        background-color: aquamarine;
        border: 2px solid black;
        height: 100px;
        width: 100px;
      }
      .two{
        flex-shrink: 0; 
      }
      .nav{
        display: flex;
        justify-content: left;
      }
      li{
        list-style: none;
      }
      .grid-container {
        display: grid;
        grid-template-columns: 50px 50px 50px;
        grid-template-rows:50px 50px;
      }
      .grid-container div{
        border:2px solid red;
      }
      .
      